.menu {
  display: flex;
  align-items: center;
  gap: 50px;

  font-weight: 700;
  font-size: 24px;

  @media (max-width: 1200px) {
    font-size: 20px;
    gap: 40px;
  }

  @media (max-width: 1024px) {
    gap: 20px;
    font-size: 16px;
  }
}

.link {
  transition: color 0.4s ease-in-out;

  svg path {
    transition: fill 0.4s ease-in-out;
  }

  &:hover {
    color: var(--accent);
    svg path {
      fill: var(--accent);
    }
  }

  &__with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  &--active {
    color: var(--accent);
    svg path {
      fill: var(--accent);
    }
  }
}
