.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin-bottom: 60px;

  @media (max-width: 1024px) {
    margin-bottom: 40px;
    gap: 20px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 20px;
  }
}

.item {
  font-weight: 700;
  font-size: 40px;
  color: var(--text-color);

  border-radius: 76px;
  padding: 6px 36px;
  background: var(--footer-header-bg);

  cursor: pointer;

  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 20px 0 var(--accent-muted);
  }

  @media (max-width: 1024px) {
    padding: 6px 20px;
    font-size: 30px;
  }

  @media (max-width: 1024px) {
    padding: 6px 18px;
    font-size: 24px;
  }

  &__active {
    background: var(--accent);
  }
}
