.promo {
  padding-top: 130px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    padding-top: 100px;
  }

  @media (max-width: 768px) {
    padding-bottom: 20px;
  }

  @media (max-width: 480px) {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__right-wrap {
    position: relative;
  }

  &__hero {
    max-height: 800px;
    max-width: 100%;

    @media (max-width: 1200px) {
      max-height: 600px;
    }
  }

  &__left-wrap {
    max-width: 517px;

    @media (max-width: 1200px) {
      max-width: 400px;
    }

    @media (max-width: 1024px) {
      max-width: 412px;
    }

    @media (max-width: 768px) {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__sub-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
      font-size: 22px;
    }

    @media (max-width: 1024px) {
      font-size: 20px;
      margin-bottom: 14px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 36px;
    line-height: 1.2;

    @media (max-width: 1200px) {
      font-size: 60px;
      margin-bottom: 26px;
    }

    @media (max-width: 1024px) {
      font-size: 40px;
      margin-bottom: 16px;
    }

    @media (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-size: 24px;
    margin-bottom: 36px;
    line-height: 1.6;

    text-wrap: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--text-color);

    @media (max-width: 1200px) {
      font-size: 22px;
      margin-bottom: 26px;
    }

    @media (max-width: 1024px) {
      font-size: 20px;
      margin-bottom: 16px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 10px;
      text-align: center;
    }

    &--1 {
      width: 426px;

      @media (max-width: 1200px) {
        width: 390px;
      }

      @media (max-width: 1024px) {
        width: 356px;
      }

      @media (max-width: 768px) {
        width: 285px;
      }

      margin-bottom: 5px;
      animation: typing 3.5s steps(31), blink 0.5s step-end 7 alternate;
      border-color: transparent;
    }

    &--2 {
      width: 305px;

      @media (max-width: 1200px) {
        width: 280px;
      }

      @media (max-width: 1024px) {
        width: 254px;
      }

      @media (max-width: 768px) {
        width: 203px;
      }

      animation: typing 2s steps(23) 3.5s,
        blink 0.5s step-end infinite alternate 3.5s backwards;
      animation-fill-mode: backwards;
      border-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: var(--text-color);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 56px;

    @media (max-width: 1200px) {
      gap: 20px;
      flex-wrap: wrap;
    }

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__gradient-1 {
    width: 1352px;
    height: 1352px;
    background: radial-gradient(
      circle,
      rgba(210, 0, 163, 0.59) 0%,
      rgba(210, 0, 163, 0) 70%
    );
    opacity: 0.37;

    position: absolute;
    z-index: -50;
    top: -514px;
    left: -806px;
  }

  &__gradient-2 {
    width: 1436px;
    height: 1436px;
    background: radial-gradient(
      circle,
      rgba(145, 103, 241, 0.6) 0%,
      rgba(145, 103, 241, 0) 65%
    );
    opacity: 0.37;

    position: absolute;
    z-index: -50;
    top: 262px;
    right: -660px;
  }
}

.icon-html {
  position: absolute;
  left: 1px;
  bottom: 192px;

  @media (max-width: 1200px) {
    height: 100px;
    left: 27px;
    bottom: 141px;
  }

  @media (max-width: 1024px) {
    height: 70px;
    left: 5%;
    bottom: 25%;
  }

  @media (max-width: 480px) {
    height: 50px;
  }
}
.icon-js {
  position: absolute;
  left: 220px;
  bottom: 73px;

  @media (max-width: 1200px) {
    height: 75px;
  }

  @media (max-width: 1024px) {
    height: 60px;
    left: 37%;
    bottom: 12%;
  }

  @media (max-width: 480px) {
    height: 45px;
  }
}
.icon-ts {
  position: absolute;
  right: 65px;
  bottom: 146px;

  @media (max-width: 1200px) {
    height: 70px;
    bottom: 112px;
  }

  @media (max-width: 1024px) {
    height: 55px;
    bottom: 21%;
    right: 10%;
  }

  @media (max-width: 480px) {
    height: 50px;
  }
}
.icon-css {
  position: absolute;
  top: 40px;
  right: 235px;

  @media (max-width: 1200px) {
    height: 70px;
    top: 9px;
    right: 197px;
  }

  @media (max-width: 1024px) {
    height: 65px;
    top: 3%;
    right: 29%;
  }

  @media (max-width: 480px) {
    height: 55px;
  }
}
.icon-redux {
  position: absolute;
  right: 15px;
  bottom: 280px;

  @media (max-width: 1200px) {
    height: 75px;
    right: 6px;
    bottom: 253px;
  }

  @media (max-width: 1024px) {
    height: 60px;
    right: 2%;
    bottom: 45%;
  }

  @media (max-width: 480px) {
    height: 50px;
  }
}
.icon-react {
  position: absolute;
  top: 83px;
  left: 44px;

  @media (max-width: 1200px) {
    height: 70px;
  }

  @media (max-width: 1024px) {
    height: 65px;
    top: 9%;
    left: 11%;
  }

  @media (max-width: 480px) {
    height: 55px;
  }
}
