.text {
  max-width: 622px;
  font-size: 24px;
  line-height: 1.6;
  color: var(--text-color);

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}

img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;

  @media (max-width: 768px) {
    border-radius: 10px;
  }
}

.about-me {
  padding-top: 164px;
  padding-bottom: 64px;
  position: relative;
  overflow: hidden;

  display: flex;
  min-height: 100vh;

  @media (max-width: 1200px) {
    img {
      max-height: 500px;
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 40px;

    img {
      max-height: 400px;
    }
  }

  @media (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 30px;

    img {
      max-height: 500px;
    }
  }

  @media (max-width: 480px) {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: 70px;

    @media (max-width: 1024px) {
      margin-bottom: 40px;
    }

    @media (max-width: 480px) {
      margin-bottom: 20px;
    }
  }

  &__text-wrap {
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__gradient {
    width: 1352px;
    height: 1352px;
    background: radial-gradient(
      circle,
      rgba(210, 0, 163, 0.59) 0%,
      rgba(210, 0, 163, 0) 70%
    );
    opacity: 0.37;

    position: absolute;
    z-index: -50;
    bottom: -709px;
    left: -332px;
  }
}

.studies {
  padding: 64px 0 64px 0;
  background: var(--secondary-bg);
  overflow: hidden;

  display: flex;
  min-height: 100vh;

  @media (max-width: 1400px) {
    img {
      max-height: 500px;
    }
  }

  @media (max-width: 1200px) {
    img {
      max-height: 400px;
    }
  }

  @media (max-width: 1024px) {
    padding: 40px 0 40px 0;

    img {
      max-height: 300px;
    }
  }

  @media (max-width: 768px) {
    padding: 30px 0 30px 0;

    img {
      max-height: 500px;
    }
  }

  @media (max-width: 480px) {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
}

.frontend {
  padding: 64px 0 64px 0;
  position: relative;
  overflow: hidden;

  display: flex;
  min-height: 100vh;

  @media (max-width: 1400px) {
    img {
      max-height: 500px;
    }
  }

  @media (max-width: 1200px) {
    img {
      max-height: 400px;
    }
  }

  @media (max-width: 1024px) {
    padding: 40px 0 40px 0;

    img {
      max-height: 300px;
    }
  }

  @media (max-width: 768px) {
    padding: 30px 0 30px 0;

    img {
      max-height: 500px;
    }
  }

  @media (max-width: 480px) {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__gradient {
    width: 1436px;
    height: 1436px;
    background: radial-gradient(
      circle,
      rgba(145, 103, 241, 0.6) 0%,
      rgba(145, 103, 241, 0) 65%
    );
    opacity: 0.37;

    position: absolute;
    z-index: -50;
    top: -638px;
    right: -471px;
  }
}
